<section>
<div class ="container"> 표지 등록
			<form name ="fileForm" data-ng-submit="submit()" >
				<input type ="file" name ="file" data-file="file" style="float:left;" readonly="readonly"><input type ="submit" value ="업로드" style="float:left;">
			</form>
		</div>
<div class="container" >
	<form data-ng-submit="cateinsert()">
	  <div class="form-group">
	    <label for="title">작품명</label>
	    <input type="text" class="form-control" data-ng-model="catelist.title" name="title" placeholder="작품명을 입력하세요">
	  </div>
     <div class="form-group">
	    <label for="type">작품 종류</label>
	    <input type="text" class="form-control" name="type" data-ng-model="catelist.type" placeholder="작품종류를 입력하세요">
	  </div>
      <div class="form-group">
	    <label for="introduce">작품 소개</label>
	    <input type="text" class="form-control" name="introduce" data-ng-model="catelist.introduce" style ="height: 15vh;" placeholder="작품의 간단한 소개를 입력해주세요.">
	  </div>
     <div class="form-group">
	    <label for="img">표지 이미지 등록</label>
	</div>
	  <button type="submit" class="btn btn-success">작품 등록</button>
	  </form>
</div>
</section>