
<section>
<div class ="addetail_big_box">
    <div class ="adetail_head">
        <div class ="adetail_A">
        <div class ="ad_A_img">
            <img src="resources/img/clock.png">
            </div>
        </div>
        <div class ="adetail_B">
        <div class ="ad_B_part1"><h2>구디아카데미 썰 푼다.</h2><h5>Chomyang</h5></div>
        <div class ="ad_B_part2">
            <p> 작품 소개 : <span>구디아카데미를 다니면서 겪은 일을 사실적으로 묘사한 작품</span></p>            
            조회수 : <span>78</span> 선호작 : <span>3</span> 총 편수 : <span>2</span>
            <div><button type="button" class ="ad_btn">선호작 등록</button></div>
            <div><button type="button" class ="ad_btn">글 작성</button></div>
            </div>
        
        </div>
        
    </div>
    <div class ="board_box">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">소제목</th>
      <th scope="col">회차</th>
      <th scope="col">날짜</th>
      <th scope="col">조회수</th>

    </tr>
  </thead>
  <tbody id ="trcheck">
    <tr>
      <th scope="row"><a href ="#!/textview">바람잘 날 없다.</a></th>
      <td style ="color:darkgrey">2</td>
      <td>2017-12-27</td>
      <td>45</td>
      
    </tr>
    <tr>
      <th scope="row"><a href ="#!/textview">바람이 불리가 없지.</a></th>
      <td style ="color:darkgrey">1</td>
      <td>2017-12-27</td>
      <td>45</td>
    </tr>

  </tbody>
        
</table>
</div>

</div>
</section>