
<section>
<div class ="addetail_big_box">
    <div class ="adetail_head">
        <div class ="adetail_A">
        <div class ="ad_A_img">
            <img src={{titlechk.img}}>
            </div>
        </div>
        <div class ="adetail_B">
        <div class ="ad_B_part1"><h2>{{titlechk.title}}</h2><h5>{{titlechk.id}}</h5></div>
        <div class ="ad_B_part2">
        
        
            <p> 작품 소개 : <span>{{titlechk.introduce}}</span></p>            
            조회수 : <span>{{titlechk.category_click}}</span> 선호작 : <span>{{titlechk.pref}}</span>
            <div data-ng-if="LoginStatus==1">
            <div><button type="button"  data-ng-click ="prefchecked()" data-ng-if="void==1" class ="ad_btn">선호작 등록</button></div>
            <div><button type="button"  data-ng-click ="prefchecked()" data-ng-if="void==2"  class ="ad_btn">선호작 해제</button></div>
            <div><button type="button" data-ng-click ="awritemove(titlechk.title)"  data-ng-if="user.id==titlechk.id" class ="ad_btn">글 작성</button></div>
            </div>
            </div>
        
        </div>
        
    </div>
    <div class ="board_box">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">회차</th>
      <th scope="col">소제목</th>
      <th scope="col">날짜</th>
      <th scope="col">조회수</th>

    </tr>
  </thead>
  <tbody id ="trcheck">
    <tr data-ng-repeat="rows in actdetail">
      <td style ="color:darkgrey">{{rows.sort}}</td>
      <th scope="row"><a data-ng-click="viewdetailparam(rows.no)">{{rows.stitle}}</a></th>
      <td>{{rows.ndata}}</td>
      <td>{{rows.nclick}}</td>
      
    </tr>
  </tbody>
        
</table>
</div>

</div>
</section>