<section>
<div class ="board_big_box">
    <div class ="board_head">
    <p> {{type.type}} 게시판 </p>
    </div>
    <div class ="board_box">
    <table class="table">
  <thead>
  <!-- data-ng-repeat="list in " -->
    <tr>
      <th scope="col">No</th>
      <th scope="col">type</th>
      <th scope="col">Title</th>
      <th scope="col">Contents</th>
      <th scope="col">ID</th>
      <th scope="col">Click</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody id ="trcheck" dir-paginate="rows in list | itemsPerPage:5">
    <tr>
      <th scope="row">{{rows.no}}</th>
      <td style ="color:darkgrey">{{rows.type}}</td>
      
      
      <td>{{rows.title}}</td>
      <td><a href ="#!/boarddetail" data-ng-click="movedetail(rows.no)">{{rows.contents}}</a></td>
      <td>{{rows.id}}</td>
      <td>{{rows.click}}</td>
      <td>{{rows.reg_date}}</td>
    </tr>
  </tbody>
</table>
        <hr>
          <dir-pagination-controls style="margin: 10vh 45%"
       max-size="5"
       direction-links="true"
       boundary-links="true" >
    </dir-pagination-controls>
        <div class ="board_btn">
        <button type ="button" data-ng-click="qwrite(list_auth)">{{list_type}} 작성</button>
        </div>
</div>

</div>


</section>