<section>

    <div class ="board_big_box">
        <div class ="textview_input" style="text-align: center; background-color:azure">
           <p style ="margin: 1vh 0vw; font-size:1.5em;">title : <span>제목을 찾고 있어요!</span></p>
        </div>
        
        <div class ="textview_box" style="background-color:azure;">
            <button type = "button">수정</button>   
        <button type = "button">삭제</button>
            <p style ="font-size:2em; margin-left:3vw">Contents</p>
            <div class ="listdetail_box">
            <p>내용을 찾고 있어요 ! 존나 눈아프고 졸린데 그만하고 싶다 진짜루;</p>
            </div>

        </div>
  
</div>
            <div class ="textview_head" style="height: 5vh;">
            <p style ="float:left; margin-left:2vw">Comments</p>
        </div>
                    <div class ="textview_comments">
                <div class ="view_reply"> 
                <p>ID : <span>admin</span></p>
                <p>comments : <span>잘 보고 갑니다~</span> </p>
                </div>
                <div class ="view_reply"> 
                <p>ID : <span>admin</span></p>
                <p>comments : <span>잘 보고 갑니다~</span> </p>
                </div>
                <div class ="view_reply"> 
                <p>ID : <span>admin</span></p>
                <p>comments : <span>잘 보고 갑니다~</span> </p>
                </div>
                <div class ="view_reply"> 
                <p>ID : <span>admin</span></p>
                <p>comments : <span>잘 보고 갑니다~</span></p>
                </div>
            </div>
        <div class ="textview_input">
        <p >Comments : <input type="text" value ="댓글을 입력하세요." style="margin-top:1vh; width:85vw;"><button type="button" style="width:5.5vw;margin-left:1.5vw;"> 작성 </button> </p>
        
</div>
</section>