<section>
    <div class ="board_big_box">
        <div class ="textview_head2" style="text-align: center; background-color:azure">
           <p style ="margin: 1vh 0vw; font-size:1.5em;">title : <span>{{detailview.title}}</span></p>
        </div>
        
        <div class ="textview_box" style="background-color:azure;">
 
        <button type = "button" data-ng-click = "boarddel()" data-ng-if="detailview.id == user.id">삭제</button>
            <p style ="font-size:2em; margin-left:3vw">Contents</p>
            <div class ="listdetail_box">
            <p>{{detailview.contents}} </p>
            </div>

        </div>
</div>
	<div class="textview_head2" style="height: 5vh;">
            <p style="float:left; margin-left:2vw">Comments</p>
        </div>
<div class ="textview_comments" dir-paginate="rows2 in reply_data | itemsPerPage:7">
                <div class ="view_reply"> 
                <hr>
                <p>ID : <span>{{rows2.rep_id}}</span> 날짜: <span>{{rows2.date}}</span></p>
                <p>comments : <span>{{rows2.rep_contents}}</span>  </p>
                <hr>
                </div>
            </div>
            <dir-pagination-controls style="margin: 10vh 45%"
       max-size="7"
       direction-links="true"
       boundary-links="true" >
       </dir-pagination-controls>
        <form data-ng-submit="boardset(detailview.title)" data-ng-if="LoginStatus==1">
                <div class ="textview_input2" >     
         <p style="width:70vw; float:left;margin:0">Comments : <input type="text" data-ng-model="replylist_index.req_contents" name="req_contents" placeholder ="댓글을 입력하세요." style="margin-top:1vh; width:80vw;"></p>
         <button type="submit" style="width:5.5vw; float:right;"> 작성 </button> 
	</div>      
        </form>
	  
</section>