<section>
<div class ="mainsec_div">
      <div class="section90">
            <div class ="secbox30">
                <div class ="sec_in_box"> <p><a href="">▷ 최신 작가 연재</a></p>
                <ul>
                    <li><a href="">1.미사역 초 역세권!</a></li>
                    <li><a href="">2.투자는 입지다!</a></li>
                    <li><a href="">3.비트코인 그것을 알고 싶다</a></li>
                    <li><a href="">4.기묘한 전당포</a></li>
                    <li><a href="">5.아저씨</a></li>
                    <li><a href="">6.아가씨</a></li>
                    <li><a href="">7.ABCDEFG - 알파벳에 대한 고찰</a></li>
                    </ul>
                </div>
            
            

                <div class ="sec_in_box"> <p><a href="">▷ 최신 일반 연재</a></p>
                <ul>
                    <li><a href="">1.미사역 초 역세권!</a></li>
                    <li><a href="">2.투자는 입지다!</a></li>
                    <li><a href="">3.비트코인 그것을 알고 싶다</a></li>
                    <li><a href="">4.기묘한 전당포</a></li>
                    <li><a href="">5.아저씨</a></li>
                    <li><a href="">6.아가씨</a></li>
                    <li><a href="">7.ABCDEFG - 알파벳에 대한 고찰</a></li>
                    </ul>
                </div>
            


                <div class ="sec_in_box"> <p><a href="">▷ 최신 연재 게시판</a></p>
                <ul>
                    <li><a href="">1.미사역 초 역세권!</a></li>
                    <li><a href="">2.투자는 입지다!</a></li>
                    <li><a href="">3.비트코인 그것을 알고 싶다</a></li>
                    <li><a href="">4.기묘한 전당포</a></li>
                    <li><a href="">5.아저씨</a></li>
                    <li><a href="">6.아가씨</a></li>
                    <li><a href="">7.ABCDEFG - 알파벳에 대한 고찰</a></li>
                    </ul>
                </div>
            


                <div class ="sec_in_box"> <p><a href="">▷ 최신 자유 게시판</a></p>
                <ul>
                    <li><a href="">1.미사역 초 역세권!</a></li>
                    <li><a href="">2.투자는 입지다!</a></li>
                    <li><a href="">3.비트코인 그것을 알고 싶다</a></li>
                    <li><a href="">4.기묘한 전당포</a></li>
                    <li><a href="">5.아저씨</a></li>
                    <li><a href="">6.아가씨</a></li>
                    <li><a href="">7.ABCDEFG - 알파벳에 대한 고찰</a></li>
                    </ul>
                </div>
            </div>

            <div class ="secbox15">
          
          
          </div>
                        <div class ="secbox30">
                <div class ="sec_in_box"> <p><a href="">▷ 일일 BEST </a></p>
                <ul>
                    <li><a href="">1.미사역 초 역세권!</a></li>
                    <li><a href="">2.투자는 입지다!</a></li>
                    <li><a href="">3.비트코인 그것을 알고 싶다</a></li>
                    <li><a href="">4.기묘한 전당포</a></li>
                    <li><a href="">5.아저씨</a></li>
                    <li><a href="">6.아가씨</a></li>
                    <li><a href="">7.ABCDEFG - 알파벳에 대한 고찰</a></li>
                    </ul>
                </div>
            
            

                <div class ="sec_in_box"> <p><a href="">▷ 주간 BEST</a> </p>
                <ul>
                    <li><a href="">1.미사역 초 역세권!</a></li>
                    <li><a href="">2.투자는 입지다!</a></li>
                    <li><a href="">3.비트코인 그것을 알고 싶다</a></li>
                    <li><a href="">4.기묘한 전당포</a></li>
                    <li><a href="">5.아저씨</a></li>
                    <li><a href="">6.아가씨</a></li>
                    <li><a href="">7.ABCDEFG - 알파벳에 대한 고찰</a></li>

                    </ul>
                </div>
            


                <div class ="sec_in_box">
                    <p><a href="">▷ 월간 BEST</a></p>
                <ul>
                    <li><a href="">1.미사역 초 역세권!</a></li>
                    <li><a href="">2.투자는 입지다!</a></li>
                    <li><a href="">3.비트코인 그것을 알고 싶다</a></li>
                    <li><a href="">4.기묘한 전당포</a></li>
                    <li><a href="">5.아저씨</a></li>
                    <li><a href="">6.아가씨</a></li>
                    <li><a href="">7.ABCDEFG - 알파벳에 대한 고찰</a></li>

                    </ul>
                </div>
            


                <div class ="sec_in_box"> <p><a href="">▷ 공지 사항</a></p>
                <ul>
                    <li><a href="">1.미사역 초 역세권!</a></li>
                    <li><a href="">2.투자는 입지다!</a></li>
                    <li><a href="">3.비트코인 그것을 알고 싶다</a></li>
                    <li><a href="">4.기묘한 전당포</a></li>
                    <li><a href="">5.아저씨</a></li>
                    <li><a href="">6.아가씨</a></li>
                    <li><a href="">7.ABCDEFG - 알파벳에 대한 고찰</a></li>

                    </ul>
                </div>
            </div>
        
        
        </div>  
      <div class="section10">
        광고     
    </div>
</div>
</section>