 <style>
 a {
 cursor:pointer;
 }
 
 </style>
 <nav>
 <div class="container">
    <label for="show-menu" class="show-menu">Menu</label>
    <input type="checkbox" id="show-menu" role="button">
        <ul id="menu" class ="nav_menu">
        <li><a href="#">Home</a></li>
        <li>
            <a >연재 ▼</a>
            <ul class="navhidden">
       <li><a href="#!/story/1">작가 연재 게시판</a></li>
       <li><a href="#!/story/2">일반 연재 게시판</a></li>
            </ul>
        </li>
        <li>
            <a>커뮤니티 ▼</a>
            <ul class="navhidden">
      			<li><a href="#!/board/공지" >공지사항</a></li>
     			<li><a href="#!/board/연재">연재 게시판</a></li>
    			<li><a href="#!/board/자유">자유 게시판</a></li>
            </ul>
        </li>
        <li data-ng-if="LoginStatus==1">
            <a>작품 관리 ▼</a>
            <ul class="navhidden">
       <li><a data-ng-click="user_pref_id(user.id)">선호작</a></li>
       <li><a href="#!/actcreate" data-ng-if="!(user.id=='admin')">새 연재 등록</a></li>
            </ul>
        </li>
        <li><a href="#!/board/문의">문의</a></li>
<!--         <li data-ng-if="user.auth==3">
            <a>관리자 모드 ▼</a>
            <ul class="navhidden">
       <li><a href="#">회원 관리</a></li>
       <li><a href="#">작품 관리</a></li>
            </ul>
        </li> -->
    </ul>
</div>
</nav>