<section>
<div class ="story_box">
<div class ="story_box_head">
게시글 작성
</div>
<div class ="Qwrite">
    <div>
        <form name="writeForm" data-ng-submit="writeType()" >
        <br>
        <div class ="writeA">
        <!-- <span>ID : </span> <br><br> -->  
        <span>게시글 제목 : </span><br>  <br>
        <span style="">내용 : </span>
        </div>
        <div class ="writeB">  
        
        <!-- <input type="text" name="id" readonly="readonly" data-ng-model="Tywrite.id" value="user.id"><br><br> -->
        <input type="text" name="title" data-ng-model="Tywrite.title"><br><br>
        <textarea style="width: 80vw;height: 20vh"name ="contents" data-ng-model="Tywrite.contents"></textarea>
            </div>
    <button type="submit" style="float:right; margin-right: 3vw;">작성</button>
    </form>
    </div>
    </div>
</div>
</section>