<section>
<div class ="story_box">
<div class ="story_box_head">
게시글 작성
</div>
<div class ="Qwrite">
    <div>
        <form>
        <br>
        <div class ="writeA">
        <span>ID : </span> <br><br>  
        <span>소제목 : </span><br>  <br>
        <span style="">내용 : </span>
        </div>
        <div class ="writeB">
        <input type="text" name="id"><br><br>
        <input type="text" name="title"><br><br>
        <textarea style="width: 80vw;height: 20vh"></textarea>
            </div>
    <button type="submit" style="float:right; margin-right: 3vw;">작성</button>
    </form>
    </div>
    </div>
</div>
</section>