<section>
        <div class ="story_box">
    <div class ="story_box_head">
        <li class="dropdown genre" style="float:left; list-style: none; margin: 0.75vh 1vw;">
                   <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span>장르</span><span class="caret"></span></a>
                        <ul class="dropdown-menu">                                  
                           <li><a href="#">판타지</a></li>
                           <li><a href="#">무협</a></li>
                           <li><a href="#">로맨스</a></li>
                           <li><a href="#">로맨스 판타지</a></li>
                           <li><a href="#">추리/스릴러</a></li>
                           <li><a href="#">문학/역사</a></li>
           			 	</ul>
       </li>
  
        <p> Author / Amateur Story</p></div>
    <div class ="story_inbox" data-ng-repeat="rows in boardstory">
    <a data-ng-click="titleclick(rows.no)">
    <p>{{rows.title}}</p>
    <div class="story_inbox_img">
        <img src ={{rows.img}}>
        </div>
    <p>작가 : {{rows.id}}</p>
    <p>조회수 : {{rows.click}} 선호작 : {{rows.pref}}</p>
    <p>장르 : {{rows.type}}</p>
    </a>
    </div>
</div>
</section>