<section>
        <div class ="story_box">  
    <div class ="story_box_head">
		<div class="form-group">
	  	<label style ="float:left;">전체 :</label> 
	<select data-ng-options="item.title for item in fieldTable" data-ng-model="selected" data-ng-change="hasChanged()" style="float:left;">
  </select>
  		</div></div>
    <div class ="story_inbox" dir-paginate="rows in boardstory | itemsPerPage:12">
    <a data-ng-click="titleclick(rows.no)">
    <p>{{rows.title}}</p>
    <div class="story_inbox_img">
        <img src ={{rows.img}}>
        </div>
    <p>작가 : {{rows.id}}</p>
    <p>조회수 : {{rows.click}} 선호작 : {{rows.pref}}</p>
    <p>장르 : {{rows.type}}</p>
    </a>
    </div>
           <dir-pagination-controls style="margin: 10vh 45%"
       max-size="12"
       direction-links="true"
       boundary-links="true" >
    </dir-pagination-controls>
</div>
</section>