<section>
    <div class ="board_big_box">
        <div class ="textview_head">
            <p> 눈물의 레시피 <span style="color:darkseagreen;font-size:0.9em">/ 호리이시</span></p>
        </div>
        <div style="width:98vw;margin: 0 1vw;">
        <button type="button" style="margin: 0 0.5vw 0 0;">◀</button><input type="text" style="width: 3vw;margin: 0; text-align: center;" value ="1"> <button type="button" style="margin: 0 1vw 0 0vw;">▶</button>
            </div>
        <div class ="textview_box">
        <div class ="view_box">
        <p>먼 달에 계수나무 홀로 자라나, 너를 기다린다. 달에서 어떤 생물이 말했다. 이것은 절구가 아니냐고</p>
            <p>백설기처럼 새하얀 두개의 귀를 가지고 있는 그 아이는 하염없이 소녀를 기다렸다.</p>
            <p>넓고 둥근 그릇에 개나리같이 샛노란 물이 가득 담겨있었다. 그 안에서 빙글빙글 돌며 하얀 털을 노랗게 물든 그 아이.  </p>
            <p>아직도 오지 않은 소녀를 기다리며, 그 아이는 그 곳을 떠나지 않았다.그저, 계속해서 기다렸을 뿐이다.</p> 
            
            <p>0. 하염없이 기다리는 한 마리의 토끼</p>
            
            <p>하얀 토끼의 삶은 몹시 간단했다. 아침에 일어나, 우물로 달려가 가볍게 세수를 하고, 물을 들이켰다. 새벽에 맺힌 이슬을 마신 토끼는 다시 풍경이 보이는 들판으로 달려가, 하염없이 소녀를 기다렸다. 그 곳에서 계속</p>


            <p>
            Reply to:
            Thank you for responding to the insufficient request. I contacted the game company on December 30th, when the Red Queen issue broke out, but I did not receive a reply.
             I do not seem to have enough explanation. * Outline of case Attachment 1
            The product (Red Queen) of the package purchased for the specific content (raid) and the event for which it was purchased has been misrepresented and misapplied. The game company that discovered this issue tried to apply it without any notice. Application example Attachment 2
            The product has returned to normal as originally announced, but the game company is not willing to play this game anymore in the event of deception by the user.</p>
            <p>
            1. The information that the game company made secretly without making the in-game information public to the user.
            2. If the user had not found out about this issue, I would have to go to Yuya.
            3. The user's deception from the game company is not one or two.
            4. The specific content (event) is not achieved due to the malicious mistake of the game company and the action is after the event (raid) is over. I bought the package for Reid, but I did not use it properly, and I felt a loss.
    
            
            That's why I fell in love with this game and asked for a refund.
            
            We ask for a refund due to in-game user deceptions and loss of in-game resources due to misrepresentation of products.</p>
        
        </div>
            
            
        </div>
            <div class ="textview_head" style="height: 5vh;">
            <p style ="float:left; margin-left:2vw">Comments</p>
        </div>
                    <div class ="textview_comments">
                <div class ="view_reply"> 
                <p>ID : <span>admin</span></p>
                <p>comments : <span>잘 보고 갑니다~</span> </p>
                </div>
                <div class ="view_reply"> 
                <p>ID : <span>admin</span></p>
                <p>comments : <span>잘 보고 갑니다~</span> </p>
                </div>
                <div class ="view_reply"> 
                <p>ID : <span>admin</span></p>
                <p>comments : <span>잘 보고 갑니다~</span> </p>
                </div>
                <div class ="view_reply"> 
                <p>ID : <span>admin</span></p>
                <p>comments : <span>잘 보고 갑니다~</span></p>
                </div>
            </div>
                <div class ="textview_input">
        <p >Comments : <input type="text" value ="댓글을 입력하세요." style="margin-top:1vh; width:85vw;"><button type="button" style="width:5.5vw;margin-left:1.5vw;"> 작성 </button> </p>
        
        </div>
        
    </div>
   </section>