<section>
    <div class ="board_big_box">
        <div class ="textview_head">
            <p> {{tvdata.stitle}} <span style="color:darkseagreen;font-size:0.9em">/ {{tvdata.id}}</span></p>
        </div>
        <div style="width:98vw;margin: 0 1vw;">
        <button type="button" data-ng-click=txviewleft(tvdata) style="margin: 0 0.5vw 0 0;">◀</button>
        <input type="text" readonly="readonly" style="width: 3vw;margin: 0; text-align: center;" value ="{{tvdata.sort}}"> <button type="button" data-ng-click=txviewright(tvdata) style="margin: 0 1vw 0 0vw;">▶</button>
            </div>
        <div class ="textview_box">
        <div class ="view_box">
        {{tvdata.contents}}
        
        </div>
            
            
        </div>
            <div class ="textview_head" style="height: 5vh;">
            <p style ="float:left; margin-left:2vw">Comments</p>
        </div>
                    <div class ="textview_comments">
                <div class ="view_reply"> 
                <p>ID : <span>admin</span></p>
                <p>comments : <span>잘 보고 갑니다~</span> </p>
                </div>
                <div class ="view_reply"> 
                <p>ID : <span>admin</span></p>
                <p>comments : <span>잘 보고 갑니다~</span> </p>
                </div>
                <div class ="view_reply"> 
                <p>ID : <span>admin</span></p>
                <p>comments : <span>잘 보고 갑니다~</span> </p>
                </div>
                <div class ="view_reply"> 
                <p>ID : <span>admin</span></p>
                <p>comments : <span>잘 보고 갑니다~</span></p>
                </div>
            </div>
                <div class ="textview_input">
        <p >Comments : <input type="text" value ="댓글을 입력하세요." style="margin-top:1vh; width:85vw;"><button type="button" style="width:5.5vw;margin-left:1.5vw;"> 작성 </button> </p>
        
        </div>
        
    </div>
   </section>