<section>
    <div class ="board_big_box">
        <div class ="textview_head">
            <p> {{tvdata.stitle}} <span style="color:darkseagreen;font-size:0.9em">/ {{tvdata.id}}</span></p>
        </div>
        <div style="width:98vw;margin: 0 1vw;">
        <button type="button" data-ng-click=txviewleft(tvdata) style="margin: 0 0.5vw 0 0;">◀</button>
        <input type="text" readonly="readonly" style="width: 3vw;margin: 0; text-align: center;" value ="{{tvdata.sort}}"> <button type="button" data-ng-click=txviewright(tvdata) style="margin: 0 1vw 0 0vw;">▶</button>
            </div>
        <div class ="textview_box">
        <div class ="view_box">
        {{tvdata.contents}}
        
        </div>
            
            
        </div>
            <div class ="textview_head" style="height: 5vh;">
            <p style ="float:left; margin-left:2vw">Comments</p>
        </div>
                    <div class ="textview_comments" dir-paginate="rows2 in tvdata_reply | itemsPerPage:7">
                <div class ="view_reply"> 
                <hr>
                <p>ID : <span>{{rows2.rep_id}}</span> 날짜: <span>{{rows2.date}}</span></p>
                <p>comments : <span>{{rows2.rep_contents}}</span>  </p>
                <hr>
                </div>
            </div>
            <dir-pagination-controls style="margin: 10vh 45%"
       max-size="7"
       direction-links="true"
       boundary-links="true" >
       </dir-pagination-controls>
       
       <form data-ng-submit="replyinsert()" data-ng-if="LoginStatus==1">
                <div class ="textview_input">     
        <p >Comments : <input type="text" data-ng-model="replyindex.req_contents" name="req_contents" placeholder ="댓글을 입력하세요." style="margin-top:1vh; width:85vw;"><button type="submit" style="width:5.5vw;margin-left:1.5vw;"> 작성 </button> </p>
        </div>
        </form>
	  
    </div>
   </section>